---
layout: default
comments: true
---




<article class="post">

  <div class="entry">
    <div class="mode_btn view_question_source">

    </div>

    {{ content }}
  </div>





</article>

<script>
  var baseurl="https://github.com/SachinAIMA/sachinAIMA.github.io/edit/master/markdown/";
  var chapterName = String('{{ page.breadcrumb }}');
  var exerciseName = String('{{ page.breadcrumb2 }}')
  document.getElementById("editt_question").href = baseurl+chapterName+"/exercises/"+exerciseName+"/question.md";
</script>
